<div class="container">
	<h1>{{title}}</h1>
	<p>{{description}}</p>
</div>
<div>
	<nav class="navbar navbar-default">
	<div class="container-fluid">
		<ul class="nav navbar-nav">
			<li><a [routerLink]="['/dashboard']"><span class="glyphicon glyphicon-th"></span> Dashboard</a></li>
			<li><a [routerLink]="['/links']"><span class="glyphicon glyphicon-random"></span> Links check</a></li>
			<li><a [routerLink]="['/users']"><span class="glyphicon glyphicon-user"></span> Users info</a></li>
			<li><a [routerLink]="['/mobile']"><span class="glyphicon glyphicon-phone"></span> Mobile apps</a></li>
			<li><a [routerLink]="['/helps']"><span class="glyphicon glyphicon-comment"></span> Online help</a></li>
			<li><a [routerLink]="['/monitoring']"><span class="glyphicon glyphicon-eye-open"></span> Monitoring</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a [routerLink]="['/settings']"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
		</ul>
	</div>
	</nav>
	<div>
		<router-outlet></router-outlet>
	</div>
<div>
